
<html>
  <head>
    <title> Amber and Al </title>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css"></link>
  </head>
  <body id="body">
    <header>
      <h1> Baby Brennan </h1>
      <h2> Est. Oct 2015 </h2>
    </header>

    <div class="linkdiv">
      <%= link_to "View all Photos", photo_session_index_path, :class=> "link" %>
    </div>

    <div class="loader">
      <center>
       <img class="loading-image" src="assets/loading.jpg" alt="loading..">
     </center>
   </div>

    <section class="primary">
      <button id="start" class="show"> Start </button>
      <div id="countDiv" class="hide"></div>
    </section>

    <section class="secondary">
      <div id="my_camera" style="width:320px; height:240px;"></div>
      <div id="my_result1"></div>
      <div id="my_result2"></div>
      <div id="my_result3"></div>

      <form id="myform" method="post" action="photo_session">
        <input id="mydata1" type="hidden" name="mydata1" value=""/>
        <input id="mydata2" type="hidden" name="mydata2" value=""/>
        <input id="mydata3" type="hidden" name="mydata3" value=""/>
      </form>
    </section>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  </body>
</html>
