<html>
  <head>
    <title> Amber and Al </title>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style.css"></link>
  </head>
  <body>
    <header>
      <h1> Baby Brennan </h1>
      <h2> Est. Oct </h2>
    </header>
    <section>
      <form id="formbackground">
      </form>  
    </section>
    <section class="buttonbackground">
      <button type="button" id="addButton" name="Add"> Add Person </button>
      <button id="submit" name="submit"> Submit </button>
      <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  </section>
</html>
